{% extends "base.html" %}


{% block content %}
<div class="container">
		<div class="jumbotron">
			<h2 class="text-center">Category - {{category.name}}</h2>
			<p class="lead text-center">Channel - <a href="{% url 'index' %}">{{channel}}</a></p>
			<hr class="m-y-md">
			<div>
				{% if parentCategories %}
					<p>Parent Categories</p>
					<ul>
					{% for parent in parentCategories %}
						<li><div class="className">{{parent.name}}</div></li>
					{% endfor %}
					</ul>
				{% else %}
					<div class="alert alert-warning">This is a Root Category</div>
				{% endif %}

				{% if subcategories %}
					<p>Subcategories</p>
					<ul>
					{% for subcategory in subcategories %}
						<li><div>{{subcategory.name}}</div></li>
					{% endfor %}
					</ul>
				{% else %}
					<div class="alert alert-warning">This is a Leaf Category<div>
				{% endif %}
			</div>


		</div>

{% endblock %}